/* COMMAND*/

.command,
.command_title,
.command_description,
.team_list,
.team_item, 
.work_button {
  
  margin: 0;
  padding: 0;
  
}

.command {
    
    text-align: center;
    display: block;
	background-color: #54d154; 
	height: : 485px;

}

.command_title {
	padding-top: 30px;
	font-family: 'Montserrat', sans-serif; /*Montserrat Light*/
	font-weight: 300;
	color: #207b20;
	font-size: 20.54px;
	line-height: 50px;

}

.command_description {
	color: #207b20;
}

.team_list {
  
  padding: 0;
  list-style: none;
  padding-top: 60px;
  padding-bottom: 70px;
 
  text-align: center;

  
}

.team_item {
	list-style: none;
  	width: 20%;
  	float: left;


}

.taem_name {

	display: block;
	font-family: 'ProximaNova', sans-serif; /*ProximaNova Regular*/
	font-weight: 400;
	font-size: 16px;
   	line-height: 32px;
   	color: #ffffff;
	text-align: center;
	position: relative;
	margin-top: 90px;	
}

.media {

	top: 0;
	left:0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	opacity: 0.75;
}

.work_button {
 	text-align: center;
    display: block;
	background-color: #3eba3e; 
	height: 95px;
	position: relative;
  	width: 100%;
}

/*   /COMMAND*/