/*  HEADER  */


.page_header,
.navigation_wrapper,
.navigation, 
.search_box,
.company {
  
  margin: 0;
  padding: 0;
  
}

.page_header {
  
  display: block;
  width: 100%;
  height: 33px;
  padding-top: 0;
  margin-bottom: -33px;
  background-color: transparent;
  
  position: relative;
  z-index: 1;
  
}


/*  /HEADER  */

/*  NAVIGATION  */


.navigation_wrapper {
  
  float: left;
  display: block;
  width: 490px;
  margin: 0 15px;
  
}

.navigation {
  
  list-style: none;
  text-align: left;
  
}

.navigation_item {
  
  list-style: none;
  
}

.navigation_link {
  
  text-decoration: none;
  color: inherit;
  
}

.navigation-main {
  
  font-size: 0;
  line-height: 0;
  vertical-align: top;
  
}

.navigation-main .navigation_item {
  
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
  font-size: 16px;
  line-height: 55px;
  text-transform: capitalize;
  
}

.navigation-main .navigation_item:last-child {
  
  margin-right: 0;
  
}

.navigation-main .navigation_link {
  
  font-size: inherit;
  line-height: inherit;
  color: #ffffff;
  
}

.navigation-main .navigation_link:hover {
  
  color: #ffffff;
  font-weight:bold; /*bolder 100-900*/ 
  font-family: 'Raleway', sans-serif; /*Proxima Nova Light*/ 
  
}


/*  /NAVIGATION  */

/*  COMPANY  */


.company {
  
  float: left;
  width: 160px;
  margin: 0 15px;
  
}

.company_link {
  
  display: block;
  text-decoration: none;
  color: inherit;
  line-height: 0;
  border: none;
  outline: none;
  
}

/*  /COMPANY  */

/*  SEARCH  */


.search_box {
  
  float: left;
  width: 170px;
  height: 33px;
  margin: 0 15px;
  margin-right: 285px;
  
  bottom:0;
}

#search {
  border-radius: 15px;
  background-color: rgba(255,255,255,0.5);
  color: #000000;
  cursor:text;
}


/*  /SEARCH  */