/*LATEST PROJECT*/

.latestproject,
.letestproject_title,
.letestproject_content,
.latestproject_categories,
.latestproject_foto {
  
  margin: 0;
  padding: 0;
}

.latestproject {
    padding-top: 30px;
    padding-bottom: 500px;
    text-align: center;
    display: block;
	background-color: #54d154; 
	height: : 750px;
}

.latestproject .container {
  	position: relative;
}

.letestproject_title {
  
  	margin: 0 15px;
  	margin-bottom: 15px;
  	font-family: 'MontserratLight', sans-serif; /*Montserrat Light*/
	font-size: 20.54px;
	line-height: 50px;
	text-transform: uppercase;
  	color: #207b20;
}

.letestproject_content {
	color: #2b9b2b;
	margin-bottom: 60px;
	margin-top: 20px;
}

.latestproject_categories {
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
}

.latestproject_filter {
    display: inline-block;
}

.latestproject_filter input[type="radio"] {
  display: none;
}

.latestproject_filter span {
  display: inline-block;
  padding: 0 12px;
  border: 1px solid #ebebeb;
  white-space: nowrap;
  cursor: pointer;
  font-family: 'ProximaNovaRegular', sans-serif; /*ProximaNova Regular*/
  font-size: 16px;
  line-height: 32px;
  background-color: #ffffff;
  border-color: #2b9b2b;
  color: #2b9b2b;
}

.latestproject_filter span:hover {
	color: #ffffff;
    background-color: #2b9b2b;
}

.latestproject_filter .Photo {
	border-radius: 20px 0 0 20px;
 }

.latestproject_filter .Print {
    border-radius: 0 20px 20px 0;
 }

.latestproject_foto,
.latestproject_project {
  display: block;
  list-style: none;
}

.latestproject_foto {
  padding-bottom: 45px;
  margin-left: 50px;
}

.latestproject_project {
  position: relative;
  float: left;
  width: 160px;
  margin: 30px;
}

.projects_image {
  display: block;
  max-width: 100%;
  height: auto;
}

/*/LATEST PROJECT*/