/*  LAYOUT  */

html, body {
  
  min-width: 1200px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #000000;
  
}

html {
  
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 28px;
  
}

/*FONTS*/
@font-face{

font-family: 'Nautilus Pompilius';
src: url('../fonts/NautilusPompilius.otf');
font-style: normal;
font-weight: normal;

}

@font-face{
font-family: 'ProximaNovaRegular';
src: url('../fonts/ProximaNova-Regular.ttf');
font-weight: normal;
font-style: normal;
}

@font-face{
font-family: 'ProximaNovaLight';
src: url('../fonts/ProximaNova-Light.ttf');
font-style: normal;
font-weight: normal;
}

@font-face{
font-family: 'ProximaNovaBold';
src: url('../fonts/ProximaNova-Bold.ttf');
font-style: normal;
font-weight: normal;
}

@font-face{

font-family: 'Montserrat';
src: url('../fonts/Montserrat-Light.otf');
font-weight: normal;
font-style: normal;
}

.container {
  
  width: 1200px;
  margin: 0 auto;
  
}

.clearfix::before, 
.clearfix::after {
  
  content: "";
  display: table;
  
}

.clearfix::after {
  
  clear: both;
  
}

.page_header {
  
  display: block;
  margin: 0;
  padding: 0;
  
}

.visually-hidden {
  
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: none;
  margin: -1px;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0 0 0 0);
  
}

/*  /LAYOUT  */

/*  BUTTON  */

.btn {
  
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  
}

.btn-presentation {
  
  width: 210px;
  border-radius: 25px;
  background-color: #54d154;
  font-family: 'ProximaNovaRegular', sans-serif; /*Proxima Nova Regular*/
  font-size: 22px;
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  
}

.btn-presentation:hover {
   background-color: rgba(255,255,255,0.7);
   color: #2b9b2b;
}

.btn-scroll {
  position: relative;
  width: 120px;
  border-radius: 15px;
  background-color: rgba(255,255,255,0.5);
  color: #000000;
  font-family: 'ProximaNovaLight', sans-serif; /*ProximaNova Light*/  
  font-size: 16px;
  line-height: 27px;
  text-transform: lowercase;
  text-align: center;
  left: 0;
  right: 0;    
  margin: 0 auto;
}

.btn-scroll:hover {
 color: #ffffff;
 background-color: #54d154;
}


.btn-services {
  background-color: #54d154;
  width: 120px;
  border-radius: 15px;
  font-size: 16px;
  line-height: 30px;
  font-family: 'ProximaNovaBold', sans-serif; /*Proxima Nova Bold*/
  text-align: center;
  display: block;
  margin: 0 auto;
}

.btn-services:hover{
  background-color: #dddcdc;
  color: #2b9b2b;
}

.btn-filter {
    position: absolute;
    bottom: -455px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.btn-filter:hover {
    background-color: #ffffff;
    color: #2b9b2b;
}

.btn-filter {
    background-color: #2b9b2b;
    width: 190px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 40px;  
    font-family: 'ProximaNovaRegular', sans-serif; /*Proxima Nova Regular*/
    text-align: center;
    color:#ffffff;
}

.btn-allclients {
    background-color: #dddcdc;
    width: 190px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 40px;
                   
    font-family: 'ProximaNovaRegular', sans-serif; /*Proxima Nova Regular*/
    text-align: center;
    vertical-align: middle;
    color:#a59d9d;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 500px;
    
}

.btn-allclients:hover {
    background-color: #a59d9d;
    color: #ffffff;    
}

.btn-work {
    background-color: #54d154;
    width: 175px;
    border-radius: 25px;
     font-family: 'ProximaNovaLight', sans-serif; /*Proxima Nova Light*/
    font-size: 18.63px;
    line-height: 40px;
    text-align: center;
    color:#ffffff;
    position: absolute;
    left: 0;
    right: 0;
    margin: 30px auto;
    text-transform: uppercase;
    box-shadow: 0 4px 4px rgba(60,122,35,1);
}
.btn-work:hover {
    background-color: #ffffff;
    color: #3eba3e;
}

.btn-forma_send {
    display: inline-block;
    background-color: #2b9b2b;
    width: 340px;
    font-family: 'ProximaNovaRegular', sans-serif; /*Proxima Nova Regular*/
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color:#ffffff;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-transform: uppercase;
    border-radius: 0 0 5px 5px;
}

.btn-forma_send:hover {
  background-color: #54d154;
  color: #333333;


   
/*  /BUTTON  */
