/*  LAYOUT  */

html, body {
  
  min-width: 1200px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #000000;
  
}

html {
  
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  
}

.container {
  
  width: 1200px;
  margin: 0 auto;
  
}

.clearfix::before, 
.clearfix::after {
  
  content: "";
  display: table;
  
}

.clearfix::after {
  
  clear: both;
  
}

.page_header {
  
  display: block;
  margin: 0;
  padding: 0;
  
}

.visually-hidden {
  
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: none;
  margin: -1px;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0 0 0 0);
  
}

/*  /LAYOUT  */

/*  BUTTON  */

.btn {
  
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  color: inherit;
  
}

.btn-presentation {
  
  width: 210px;
  border-radius: 25px;
  background-color: #54d154;
  font-family: 'Raleway', sans-serif; /*Proxima Nova Regular*/

  font-size: 22px;
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;
  
}

.btn-scroll {
  
  width: 120px;
  border-radius: 15px;
  background-color: rgba(255,255,255,0.5);
  color: #000000;
  cursor: pointer;

  font-family: 'Raleway', sans-serif; /*Proxima Nova Light*/ 
  font-weight: 800;                     /*******/
  font-size: 16px;
  line-height: 27px;
  text-transform: lowercase;
  text-align: center;
  
}

/*  /BUTTON  */