/*  OFFERS  */

.offers,
.scroll {
  
  margin: 0;
  padding: 0;
  
}

.offers {
  
  display: block;
  width: 100%;
  height: 100vh;
  
  
  
}
.presentation_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

 .presentation {

         
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s;
 }


.offers_slogan {
  

  font-size: 55px;
  line-height: 70px;
  margin-bottom: 30px;
  
  font-family: 'Raleway', sans-serif; /*Monsterrat Bold*/ 
  color: #ffffff;

  
}

.scroll {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
    
    display: block;
    margin-left: auto;
    margin-right: auto 
}

/*  /OFFERS  */
