/*  SERVICES  */


.services,
.services_title,
.services_description,
.services_item,
.services_item_title,
.services_item_description {
  
  margin: 0;
  padding: 0;
  
}

.services {
  
  display: block;
  
  font-family: 'Montserrat', sans-serif; /*light*/
  margin-top: 30px;

  
}
.services_title {

  color: #818181;
  font-family: 'Monsterrat', sans-serif; /*Light*/
  font-weight: 100;
  font-size: 20.54px;
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;
}

.services_description {
  color: #818181;
  text-align: center;

}

.services_list {
  
  padding: 0;
  list-style: none;
  padding-top: 240px;
  padding-bottom: 70px;
  
}

.services_item {
  
  list-style: none;
  width: 33%;
  float: left;

  
}

.services_item::before {
  
  content: "";
  
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  
  width: 143px;
  margin: 0 auto;
  height: 143px;
  
  background-image: url("../img/services-sprite.png");
  background-repeat: no-repeat;
  
}

.services_item-app::before {
  
  background-position: 2px 0;


  
}

.services_item-dev::before {
  
  background-position: -299px 0;
  
}

.services_item-cust::before {
  
  background-position: -598px -1px;
  
}

.services_item-mark::before {
  
  background-position: -898px 0px;
  
}

.services_item::after {
  
  content: "";
  
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  
  width: 70px;
  margin: 0 auto;
  height: 3px;
  
  
}

.services_item_title {
  
  margin-top: -3px;
  margin-bottom: 15px;
  color: #818181;
  
  font-family: 'Raleway', sans-serif; /*Proxima Nova Bold*/
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  
}

.services_item_description {
  
  color: #818181;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  
}


/*  /SERVICES  */